.p-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $brand-color;
    box-shadow: 0px 2px 3.84px 0.16px rgba(83, 83, 83, 0.29);

    &__logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    &__logo.is-xs {
        margin-top: 8px;
        margin-bottom: 10px;
        width: 95px;
    }

    &__logo.is-sm {
        display: none;
    }

    @include media-breakpoint-up(md) {
        height: 56px;

        &__logo.is-sm {
            margin-top: 8px;
            display: block;
            width: 27px;
        }

        &__logo.is-xs {
            display: none;
        }
    }
}